/******************************************************************************
*                          Other CSS files                                    *
******************************************************************************/
/*@import 'pygment.css';*/
/*@import 'typogrify.css';*/

/******************************************************************************
*                          reset nebo normalize                               *
******************************************************************************/
/*@import "normalize";*/
@import "compass/reset";

/******************************************************************************
*                          Compass and Susy                                   *
******************************************************************************/
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/typography/lists/horizontal-list";

@import "fancy-buttons";
/*fancy-button ( color, font-size, border-radius, border-size ) */


@import "susy";

/******************************************************************************
*                          Fonts                                              *
******************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);

$font_text: 'Lora', Georgia, "DejaVu Serif", serif;
$font_nadpis: 'Bree serif', Georgia, "Times New Roman", "DejaVu Serif", serif;

/******************************************************************************
*                          Colors                                             *
******************************************************************************/
$oranzova: #EF6C00;
@import "color-schemer";
$cs-primary: $oranzova;
$cs-scheme: 'accented-analogic';  // mono, complement, triad, tetrad, 
                                  // analogic, accented-analogic
$cs-hue-offset: 15;
$cs-brightness-offset: 10;
$cs-color-model: ryb;  // rgb, ryb

/*@include cs-test(cs-primary() cs-secondary() cs-tertiary() );*/

$full-color: green;
$on-color: blue;
$teach-color: magenta;
$off-color: red;

$zelena:  #55AA55;

$modra: #0431A1;
$modra_s: #0648EE;
$pisek: #EFA100;

$seda: #f7f7f7;

/******************************************************************************
*                           Grid                                              *
******************************************************************************/
$susy: (
    columns: 24,  // The number of columns in your grid
    gutters: 1/4, // The size of a gutter in relation to a single column
    /*output: isolate,*/
    gutter-position: split,
    global-box-sizing: border-box,
);

/******************************************************************************
*                           Defaults                                          *
******************************************************************************/
$default-border-radius: 15px;

/******************************************************************************
*                           Layout                                            *
******************************************************************************/
@include border-box-sizing;

body {
    margin-left: auto;
    margin-right: auto;
    font-family: $font_text;
    font-size: 110%;
    max-width: 60em;
    line-height: normal;
    padding: 0px 20px;
}

a {
    color: cs-secondary();
}
a:hover {
    color: cs-tertiary();
}
strong {
   font-weight: bold;
}

header {
    margin-top: 0;
    h1 {
        font-size: 2.2em;
        margin-top: 4px;
        display: inline-block;
        @include span(4);
        a {
            text-decoration: none;
            border-right: solid 2px $oranzova;
            border-bottom: solid 2px $oranzova;
            padding: 0.5ex 1ex;
        }
    }
    nav {
        @include span(last 18);
    }
    ul {
        text-align: right;
    }
    li {
        list-style-type: none;
        display: inline;
        margin: 0;

        a {
            display: inline-block;
            font-size: 1.5em;
            padding: 20px 22px 10px;
            font-weight: bold;
            color: $oranzova;
            background-color: $seda;
        }
        a:hover {
            color: white;
            background-color: $oranzova;
        }
    }
}

main {
        @include span(24);
}

footer {
        @include span(24);
}


#{headings(all)} {
    /*font-family: $font_nadpis;*/
    font-weight: bold;
    color: $oranzova;
    a {
        color: $oranzova;
    }
    margin-top: 1em;
    margin-bottom: 1ex;
}

h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 2.1em;
}
h3 {
    font-size: 1.7em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.15em;
}
h6 {
    font-size: 1em;
}

li {
    @include push(1); 
    list-style-type: disc;
    display: list-item;
}

dt {
    font-weight: bold;
}
dd {
    @include push(1); 
    list-style-type: square;
    display: list-item;
}

.login {
    text-align: center;
    table {
        font-size: 120%;
        margin-left: auto;
        margin-right: auto;
        tr {
            td {
                padding-bottom: 0.7ex;
                vertical-align: bottom;
            }
            td:first-child {
                text-align: right;
                padding-right: 1ex;
            }
            td:last-child {
                text-align: left;
            }
        }
    }
}

.logout {
    @include fancy-button(lighten($oranzova, 30), 25, 15px, 0px);
    padding: 8px 10px;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.ok-field {
    border: solid 3px green;
}
.error-field {
    border: solid 3px red;
}

footer {
    margin-top: 2.5em;
}

#full::before {
    content: "⛊";
    color: green;
}

#on::before {
    @extend #full::before;
    color: blue;
}
#teach::before {
    @extend #full;
    color: magenta;
}
#off::before {
    @extend #full;
    color: red;
}


/*-----------------------------------------------------------------------------
vim:nowrap:
*/
