@charset "UTF-8";
/******************************************************************************
*                          Other CSS files                                    *
******************************************************************************/
/*@import 'pygment.css';*/
/*@import 'typogrify.css';*/
/******************************************************************************
*                          reset nebo normalize                               *
******************************************************************************/
/*@import "normalize";*/
@import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/******************************************************************************
*                          Compass and Susy                                   *
******************************************************************************/
/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class, .logout {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold; }
  .fancy-button-reset-base-class::-moz-focus-inner, .logout::-moz-focus-inner {
    border: none;
    padding: 0; }
  .fancy-button-reset-base-class:focus, .logout:focus {
    outline: none; }

/*fancy-button ( color, font-size, border-radius, border-size ) */
/******************************************************************************
*                          Fonts                                              *
******************************************************************************/
/******************************************************************************
*                          Colors                                             *
******************************************************************************/
/*@include cs-test(cs-primary() cs-secondary() cs-tertiary() );*/
/******************************************************************************
*                           Grid                                              *
******************************************************************************/
/******************************************************************************
*                           Defaults                                          *
******************************************************************************/
/******************************************************************************
*                           Layout                                            *
******************************************************************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora", Georgia, "DejaVu Serif", serif;
  font-size: 110%;
  max-width: 60em;
  line-height: normal;
  padding: 0px 20px; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

a {
  color: #ef9000; }

a:hover {
  color: #ef2e00; }

em {
  font-variant: small-caps; }

strong {
  font-weight: bold; }

p {
  margin-top: 2ex;
  margin-bottom: 2ex; }

.nastaveni table, .nastaveni th, .nastaveni td {
  border: 1px solid black;
  border-collapse: collapse; }
.nastaveni td, .nastaveni th {
  padding: 1ex; }

header {
  margin-top: 0; }
  header h1 {
    font-size: 2.2em;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    width: 24.16667%;
    float: left;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
    header h1 a {
      text-decoration: none;
      /*border-right: solid 2px $oranzova;*/
      /*border-bottom: solid 2px $oranzova;*/
      padding: 0.5ex 1ex 0.5ex 0px; }
  header nav {
    width: 74.16667%;
    float: right;
    margin-left: 0.41667%;
    margin-right: 0.41667%; }
  header ul {
    text-align: right; }
  header li {
    list-style-type: none;
    display: inline;
    margin: 0; }
    header li a {
      display: inline-block;
      font-size: 1.5em;
      padding: 20px 22px 10px;
      font-weight: bold;
      color: #EF6C00;
      background-color: #f7f7f7;
      text-decoration: none; }
    header li a:hover {
      color: white;
      background-color: #EF6C00; }

main {
  width: 99.16667%;
  float: left;
  margin-left: 0.41667%;
  margin-right: 0.41667%; }

footer {
  width: 99.16667%;
  float: left;
  margin-left: 0.41667%;
  margin-right: 0.41667%; }

h1, h2, h3, h4, h5, h6 {
  /*font-family: $font_nadpis;*/
  font-weight: bold;
  color: #EF6C00;
  margin-top: 1em;
  margin-bottom: 1ex; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #EF6C00; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.7em; }

h4 {
  font-size: 1.3em;
  color: #ef9000; }

h5 {
  font-size: 1.15em; }

h6 {
  font-size: 1em; }

li {
  margin-left: 4.58333%;
  list-style-type: disc;
  display: list-item; }

dt {
  font-weight: bold; }

dd {
  margin-left: 4.58333%;
  list-style-type: square;
  display: list-item; }

.login {
  text-align: center; }
  .login table {
    font-size: 120%;
    margin-left: auto;
    margin-right: auto; }
    .login table tr td {
      padding-bottom: 0.7ex;
      vertical-align: bottom; }
    .login table tr td:first-child {
      text-align: right;
      padding-right: 1ex; }
    .login table tr td:last-child {
      text-align: left; }

.logout {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 25;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 0px;
  background-color: #ffbe89;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjZmZlOGQ2Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmI2N2EiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmYWU2YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2E5ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffe8d6), color-stop(50%, #ffb67a), color-stop(50%, #ffae6a), color-stop(100%, #ffca9d));
  background-image: -moz-linear-gradient(#ffffff, #ffe8d6 10%, #ffb67a 50%, #ffae6a 50%, #ffca9d);
  background-image: -webkit-linear-gradient(#ffffff, #ffe8d6 10%, #ffb67a 50%, #ffae6a 50%, #ffca9d);
  background-image: linear-gradient(#ffffff, #ffe8d6 10%, #ffb67a 50%, #ffae6a 50%, #ffca9d);
  border-color: #ff943d;
  text-shadow: #ffe8d6 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.76863) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.76863) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.76863) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  padding: 8px 10px; }
  .logout, .logout:visited {
    color: #222222; }
  .logout:hover, .logout:focus {
    background-color: #ffb67a;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjZmZlMGM2Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmFlNmEiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmYTU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzE4ZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffe0c6), color-stop(50%, #ffae6a), color-stop(50%, #ffa55b), color-stop(100%, #ffc18e));
    background-image: -moz-linear-gradient(#ffffff, #ffe0c6 10%, #ffae6a 50%, #ffa55b 50%, #ffc18e);
    background-image: -webkit-linear-gradient(#ffffff, #ffe0c6 10%, #ffae6a 50%, #ffa55b 50%, #ffc18e);
    background-image: linear-gradient(#ffffff, #ffe0c6 10%, #ffae6a 50%, #ffa55b 50%, #ffc18e);
    border-color: #ff8c2d;
    text-shadow: #ffe0c6 0px 1px 1px; }
    .logout:hover, .logout:hover:visited, .logout:focus, .logout:focus:visited {
      color: #222222; }
  .logout:active {
    background-color: #ffae6a;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWU2YSIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZiMzc1Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmE4NjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmYTA1MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzQ5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffae6a), color-stop(30%, #ffb375), color-stop(50%, #ffa860), color-stop(50%, #ffa051), color-stop(100%, #ffc493));
    background-image: -moz-linear-gradient(#ffae6a, #ffb375 30%, #ffa860 50%, #ffa051 50%, #ffc493);
    background-image: -webkit-linear-gradient(#ffae6a, #ffb375 30%, #ffa860 50%, #ffa051 50%, #ffc493);
    background-image: linear-gradient(#ffae6a, #ffb375 30%, #ffa860 50%, #ffa051 50%, #ffc493);
    border-color: #ff841e;
    text-shadow: #ffd7b7 0px -1px -1px;
    -moz-box-shadow: #ff943d 0 0.08em 0.2em 1px inset;
    -webkit-box-shadow: #ff943d 0 0.08em 0.2em 1px inset;
    box-shadow: #ff943d 0 0.08em 0.2em 1px inset; }
    .logout:active, .logout:active:visited {
      color: #222222; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.ok-field {
  border: solid 3px green; }

.error-field {
  border: solid 3px red; }

#logo {
  width: 261px;
  height: 298px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  #logo img {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-transition: linear 2400ms;
    -o-transition: linear 2400ms;
    -webkit-transition: linear 2400ms;
    transition: linear 2400ms; }
  #logo img:first-child {
    opacity: 0; }
  #logo img:last-child {
    opacity: 1; }

#logo:hover img:first-child {
  opacity: 1; }
#logo:hover img:last-child {
  opacity: 0; }

.intro {
  width: 40.83333%;
  float: left;
  margin-left: 0.41667%;
  margin-right: 0.41667%;
  margin: 3.33333%;
  height: 12em;
  overflow: auto;
  /*border: 1px cs-secondary() solid;*/ }

.global {
  width: 57.5%;
  margin-left: auto;
  margin-right: auto; }

footer {
  margin-top: 2.5em; }

#full::before, #on::before, #teach::before, #off::before, #globalni-nastaveni::before {
  content: "⛊";
  color: green; }

#on::before {
  color: blue; }

#teach::before {
  color: magenta; }

#off::before {
  color: red; }

#globalni-nastaveni::before {
  color: #FFE24F; }

ul.messages {
  margin: 1ex 11.66667%;
  padding: 0px; }
  ul.messages li.error::before {
    position: relative;
    top: -1em;
    left: -1em;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0.5ex;
    content: "Chyba";
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  ul.messages li.error {
    border: red solid 3px; }
  ul.messages li {
    padding: 1ex 1em;
    list-style-type: none;
    margin: 1ex 0px;
    border: #ef9000 solid 3px;
    -moz-border-radius-topleft: 40px;
    -webkit-border-top-left-radius: 40px;
    border-top-left-radius: 40px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px; }

.bar {
  display: inline-block;
  width: calc(100% / 80);
  background-color: #ef9000;
  float: left;
  border: white 1px solid; }

.bar:nth-child(1) {
  height: 55px; }

.bar:nth-child(2) {
  height: 20px; }

.bar:nth-child(3) {
  height: 107px; }

.bar:nth-child(4) {
  height: 18px; }

.bar:nth-child(5) {
  height: 126px; }

.bar:nth-child(6) {
  height: 74px; }

.bar:nth-child(7) {
  height: 23px; }

.bar:nth-child(8) {
  height: 57px; }

.bar:nth-child(9) {
  height: 113px; }

.bar:nth-child(10) {
  height: 45px; }

.bar:nth-child(11) {
  height: 77px; }

.bar:nth-child(12) {
  height: 71px; }

.bar:nth-child(13) {
  height: 126px; }

.bar:nth-child(14) {
  height: 58px; }

.bar:nth-child(15) {
  height: 48px; }

.bar:nth-child(16) {
  height: 31px; }

.bar:nth-child(17) {
  height: 53px; }

.bar:nth-child(18) {
  height: 32px; }

.bar:nth-child(19) {
  height: 25px; }

.bar:nth-child(20) {
  height: 44px; }

.bar:nth-child(21) {
  height: 78px; }

.bar:nth-child(22) {
  height: 47px; }

.bar:nth-child(23) {
  height: 104px; }

.bar:nth-child(24) {
  height: 57px; }

.bar:nth-child(25) {
  height: 61px; }

.bar:nth-child(26) {
  height: 96px; }

.bar:nth-child(27) {
  height: 37px; }

.bar:nth-child(28) {
  height: 60px; }

.bar:nth-child(29) {
  height: 125px; }

.bar:nth-child(30) {
  height: 32px; }

.bar:nth-child(31) {
  height: 52px; }

.bar:nth-child(32) {
  height: 117px; }

.bar:nth-child(33) {
  height: 66px; }

.bar:nth-child(34) {
  height: 106px; }

.bar:nth-child(35) {
  height: 79px; }

.bar:nth-child(36) {
  height: 38px; }

.bar:nth-child(37) {
  height: 43px; }

.bar:nth-child(38) {
  height: 103px; }

.bar:nth-child(39) {
  height: 16px; }

.bar:nth-child(40) {
  height: 77px; }

.bar:nth-child(41) {
  height: 26px; }

.bar:nth-child(42) {
  height: 55px; }

.bar:nth-child(43) {
  height: 123px; }

.bar:nth-child(44) {
  height: 115px; }

.bar:nth-child(45) {
  height: 35px; }

.bar:nth-child(46) {
  height: 58px; }

.bar:nth-child(47) {
  height: 90px; }

.bar:nth-child(48) {
  height: 51px; }

.bar:nth-child(49) {
  height: 37px; }

.bar:nth-child(50) {
  height: 38px; }

.bar:nth-child(51) {
  height: 34px; }

.bar:nth-child(52) {
  height: 66px; }

.bar:nth-child(53) {
  height: 39px; }

.bar:nth-child(54) {
  height: 88px; }

.bar:nth-child(55) {
  height: 89px; }

.bar:nth-child(56) {
  height: 90px; }

.bar:nth-child(57) {
  height: 48px; }

.bar:nth-child(58) {
  height: 31px; }

.bar:nth-child(59) {
  height: 117px; }

.bar:nth-child(60) {
  height: 26px; }

.bar:nth-child(61) {
  height: 107px; }

.bar:nth-child(62) {
  height: 34px; }

.bar:nth-child(63) {
  height: 19px; }

.bar:nth-child(64) {
  height: 54px; }

.bar:nth-child(65) {
  height: 118px; }

.bar:nth-child(66) {
  height: 74px; }

.bar:nth-child(67) {
  height: 94px; }

.bar:nth-child(68) {
  height: 76px; }

.bar:nth-child(69) {
  height: 58px; }

.bar:nth-child(70) {
  height: 120px; }

.bar:nth-child(71) {
  height: 18px; }

.bar:nth-child(72) {
  height: 31px; }

.bar:nth-child(73) {
  height: 59px; }

.bar:nth-child(74) {
  height: 86px; }

.bar:nth-child(75) {
  height: 8px; }

.bar:nth-child(76) {
  height: 19px; }

.bar:nth-child(77) {
  height: 15px; }

.bar:nth-child(78) {
  height: 110px; }

.bar:nth-child(79) {
  height: 79px; }

.bar:nth-child(80) {
  height: 16px; }

#marek {
  text-align: center;
  clear: both; }

@media screen and (max-width: 790px) {
  .intro {
    width: 82.5%;
    float: left;
    margin-left: 0.41667%;
    margin-right: 0.41667%;
    height: auto;
    margin: 1em; }

  .global {
    width: 82.5%;
    float: left;
    margin-left: 0.41667%;
    margin-right: 0.41667%;
    margin: 1em; } }
/*-----------------------------------------------------------------------------
vim:nowrap:
*/

/*# sourceMappingURL=styles.css.map */
