<!DOCTYPE html>
<html lang="cs">
  {% if title %}
    <title>On/Off: {{ title }}</title>
  {% else %}
    <title>On/Off</title>
  {% endif %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Marek">

  <link rel="stylesheet"    
        href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet"    
        href="{{ url_for('static', filename='pygments.css') }}">
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='logo-ico.png') }}" />

  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
{%block body%}
{#https://www.w3schools.com/charsets/ref_utf_symbols.asp#}
{#http://www.utf8-chartable.de/unicode-utf8-table.pl#}
  <header>
    <h1><a href="{{url_for('index')}}">
        <img src="{{ url_for('static', filename='logo-thumb.png') }}"
             width="40" height="46" alt=""> On/Off</a>
    </h1>
    <nav>
      <ul>
        {%- for lab in rooms -%}
        <li><a href="{{url_for('place', lab=lab)}}">{{lab}}</a></li>
        {%- endfor -%}

        <li><a href="{{url_for('onoff')}}" title="Nastavení!" 
               class="logout">&#10000;</a></li>
        <li><a href="{{url_for('logout')}}" title="Odhlásit se!" 
               class="logout">&#10008;</a></li>
      </ul>
    </nav>
  </header>

  <main>

{% if current_user.is_authenticated %}
<p>
<strong>uživatel:</strong> {{ current_user.name }}, 
<strong>role:</strong> {{ current_user.role_name }}
</p>
{% endif %}


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="messages">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <article>


    {%block content%} {% filter markdown %}

<div id="logo">
  <img src="{{ url_for('static', filename='logo-med.png') }}" 
       width="261" height="298" />
  <img src="{{ url_for('static', filename='logo2-med.png') }}" 
       width="261" height="298" />
</div>

<div markdown="1" class="global">
**Každý uživatel si volí pro jednotlivé režimy svůj seznam povolený nebo zakázaných domén nebo portů.**

</div>

<div markdown="1" class="intro">

Full
=============

V tomto režimu je vše zapnuté. Nejsou blokovány žádné weby ani žádné porty.
</div>

<div markdown="1" class="intro">
On 
=============

Většina webů je povolena některé jsou zakázány. Nejsou blokovány žádné porty.
</div>

<div markdown="1" class="intro">
Teach 
=============

Jsou povoleny jen některé webové stránky. Kromě webu jsou blokována všechna 
další odchozí i příchozí spojení.
</div>

<div markdown="1" class="intro">
Off 
=============

V tomto režimu je vše vypnuté. Nelze zobrazit žádnou webovou stránku a
jsou blokována všechna odchozí i příchozí spojení.
</div>

<div markdown="1" class="global">
Globální nastavení 
=============

Navíc nad tímto vším, (ne)závisle na zvoleném režimu, lze povolovat nebo
zakazovat komunikaci na vybraných portech. Tato pravidla mají přednost před
ostatními pravidly.

Toto má význam hlavně pro výuku sítí, kdy je například potřeba povolit SSH nebo
FTP, ale zachovat přitom pravidla režimu *Teach* nebo *Off*.

</div>



    {% endfilter %} {%endblock content%}

		</article>
	
	</main>
  <footer>
  <p>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </p>
  <p id="marek">Vytvořil a 
  <a href="https://github.com/spseol/onoff/">zveřejnil</a>
  <a href="https://github.com/MarrekNozka/">Marrek Nožka</a> pro radost sobě 
                a svým studentům.</p>
  </footer>
{%endblock body%}
</body>
</html>
