{% extends "base.html" %}

{% block content %}

  <h2>Laboratoř: {{lab}}</h2>

  <p><strong>Tlačítko "Odeslat" je zde v každém řádku je pro větší pohodlí.
    Stisknutí libovolného z nich provede vždy to stejné -- tedy odešle 
    módy všech stanic.</strong></p>

  <form method="post">
    {{ form.hidden_tag() }}
    {% for subform in form.switches %}
      <div>
      {{ subform.hidden_tag() }}
      <h3 class="ip">{{ subform.address.data[-2:] }}:</h3>
      {{ subform.mode(class='radio') }}
      {{ form.submit() }}
      </div>
    {% endfor %}
  </form>

  <h3>Výpis poslední konfigurace</h3>

  <pre><code>{{conf}}</code></pre>

{% endblock %}
