{% extends "base.html" %}

{% block content %}

 <div class="login">
  <h2>Přihlášení</h2>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <table>
        <tr>
          <td>Jméno: </td>
          <td>
            {%- with  -%}
            {%- if form.name.errors|count > 0 -%}
            {%-   set field_class = "error-field" -%}
            {%- else -%}
            {%-   set field_class = "ok" -%}
            {%- endif -%}
            {%- for error in form.name.errors -%}
            <span style="color: red; font-size:80%;">{{ error }}</span><br />
            {%- endfor -%}
            {{ form.name(size=20, class=field_class) }}
            {%- endwith -%}
          </td>
        </tr>
        <tr>
          <td>Heslo: </td>
          <td>
            {%- with  -%}
            {%- if form.passwd.errors|count > 0 -%}
            {%-   set field_class = "error-field" -%}
            {%- else -%}
            {%-   set field_class = "ok" -%}
            {%- endif -%}
            {%- for error in form.passwd.errors -%}
            <span style="color: red; font-size:80%;">{{ error }}</span><br />
            {%- endfor -%}
            {{ form.passwd(size=20, class=field_class) }}
            {%- endwith -%}
            </td>
        </tr>
        <tr>
          <td>Trvalé přihlášení?</td>
          <td>{{ form.remember_me }}</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Přihlásit"></td>
        </tr>
      </table>
  </form>
 </div>

{% endblock content %}
