{% extends "base.html" %}
{%- set title = 'Nastavení' -%}


{%- macro add_domain(form)-%}
  <form method="post"> 
    <table class="adddomain">
      <tr>
        <th>aktivní</th>
        <th>doména</th>
        <th>regExp</th>
        <th>IP</th>
      </tr>
      <tr>
        <td>{{form.alive()}}</td>
        <td>
          {%- with -%}
          {%-   if form.string.errors|count > 0 -%}
          {%-     set field_class = "error-field" -%}
          {%-   else -%}
          {%-     set field_class = "ok" -%}
          {%-   endif -%}
          {%-   for error in form.string.errors -%}
            <span style="color: red; font-size:80%;">{{ error }}</span><br/>
          {%-   endfor -%}
          {{ form.string(size=44, class=field_class) }}
          {%- endwith -%}
        </td>
        <td>{{form.regexp()}}</td>
        <td>{{form.ipaddress()}}</td>
        <td>{{ form.hidden_tag() }} {{form.submit()}}</td>
      </tr>
    </table>
  </form>
{%- endmacro -%}


{%- macro list_domain(form) -%}
  <form method="post">
    {{ form.hidden_tag() }}
    <table class="listdomain">
    <tr>
      <th></th>
      <th>Aktivní?</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Smazat?</th>
    </tr>
    {%- for subform in form.switches -%}
    <tr>
      <td>{{ subform.hidden_tag() }}</td>
      <td>{{ subform.alive() }}</td>
      <td>{{ subform.string.data }}</td>
      <td>{%- if subform.regexp.data -%}RegExp{%- endif -%}</td>
      <td>{%- if subform.ipaddress.data -%}IP{%- endif -%}</td>
      <td>{{ subform.delete() }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td colspan="2">{{ form.aliveBtn() }}</td>
      <td></td>
      <td></td>
      <td>{{ form.deleteBtn() }}</td>
    </tr>
    </table>
  </form>
{%- endmacro -%}


{% block content %}
  <h2>Domény</h2>

  <p><strong>Toto nastavení neovlivní aktuální pravidla
    přístupu jednotlivých stanic. Pro jejich aplikování je třeba znovu
    nastavit/odeslat formulář s módem jednotlivých stanic.
  </strong></p>

  <div class="nastaveni">

    <h3 id="on">On -- seznam zakázaných domén</h3>
    {{ list_domain(lform_on) }}

    <h4 id="addon">Přidat doménu</h4>
    {{ add_domain(dform_on) }}

    <h3 id="teach">Teach -- seznam povolených domén</h3>
    {{ list_domain(lform_teach) }}

    <h4 id="addteach">Přidat doménu</h4>
    {{ add_domain(dform_teach) }}


    <h2 id="globalni-nastaveni">Globální nastavení</h2>

        <p><strong>Tato funkce zatím není implementována.</strong></p>


        <p><strong>Sem makej jen, když víš co děláš.</strong></p>
        <p>(Ne)Závisle na zvoleném režimu,
        lze povolovat nebo zakazovat komunikaci na vybraných portech.
        <strong>Tato pravidla mají přednost před ostatními pravidly.</strong></p>

        <h4>Přidat nebo zakázat port</h4>

        <form method="post">
        <table class="adddomain">
            {#<caption>Porty:</caption>#}

            <tr>
                <th>port</th>
                <th>povolit/zakázat</th>
                <th>aktivní/neaktivní</th>
                <th>pro všechny</th>
            </tr>
            <tr>

                <td>{{ full_pform.number(size=5) }}</td>
                <td>{{ full_pform.permit() }}</td>
                <td>{{ full_pform.alive() }}</td>
                <td>
                    {%- if current_user.role_name == 'admin' -%}
                        {{ full_pform.force() }}
                    {%- endif -%}
                </td>
                <td><input type="submit" value="Přidat">
                    {{ full_pform.hidden_tag() }}
                </td>
            </tr>
        </table>
        </form>



    </div>
{% endblock content %}
